.app{
  display: grid;
  place-items: center;
  background-color: #dadbd2;
  height: 100vh;
}
.app_body{
  display: flex;
  background-color: #ededed;
  height: 90vh;
  width: 90vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}